body{
    background-image: url(../images/carli-jeen-430.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Oswald', sans-serif;
}

h1{
    font-size: 30px;
    /*background-color: greenyellow;*/
    /*border-radius: 25px 25px 0px 0px;*/

}
p{

    font-size: 15px;
}

.buttonText{

}
.customContainer {
    background-color: rgba(240, 240, 240, 0.5);
}
.articleTitle {
    font-size: 24px;
    margin: 5px;
}
.articleSnippet {
    font-size: 15px;
    margin: 5px;
}
.articleDate {
    font-size: 10px;
    margin: 5px;
}
.articleUrl {
    font-size: 15px;
    margin: 5px;
}

