body{

    background-image: url(../images/carli-jeen-430.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
h1{
    font-family: 'Oswald', sans-serif;
    /*background-color: greenyellow;*/
    /*border-radius: 25px 25px 0px 0px;*/

}
p{
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
}
.h1Titles{
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
}
.buttonText{
    font-family: 'Oswald', sans-serif;
}
#search-section{
    background-color: rgba(255, 255, 255, .55);
    padding: 25px;
    border-radius: 10px
}
#button-row{
    align-content: center;
}